<app-nav-simple></app-nav-simple>
<div class="flex flex-auto">


    <app-sidebar></app-sidebar>
    <div class="flex flex-col justify-center gap-6">
        
        <div class="border-2 h-48 aspect-video ml-14">
            <button class="bg-primary-700">Editar</button>
        </div>
        <div class="border-2 h-48 aspect-video ml-14">
            <button class="bg-primary-700">Editar</button>
        </div>
        <div class="border-2 h-48 aspect-video ml-14">
            <button class="bg-primary-700">Editar</button>
        </div> 
        
    </div>
</div>