<app-nav-simple></app-nav-simple>

<div class="max-w-lg mx-auto  bg-white dark:bg-gray-800 rounded-lg shadow-md px-8 py-10 flex flex-col items-center">
    <h1 class="text-xl font-bold text-center text-gray-700 dark:text-gray-200 mb-8">EMPLEADORES {{registerForm.get('Email')?.value}}</h1>
    <form action="#" class="w-full flex flex-col gap-4"[formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="flex items-start flex-col justify-start form-group">
            <label for="nombre" class="text-sm text-gray-700 dark:text-gray-200 mr-2">Nombre:</label>
            <input  type="nombre" name="nombre" id="nombre" formControlName="nombre"   [ngClass]="submitted && f['nombre'].errors ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'" placeholder="juan" required="">
        </div>

        <div class="flex items-start flex-col justify-start form-group">
            <label for="apellido" class="text-sm text-gray-700 dark:text-gray-200 mr-2">Apellido:</label>
            <input  type="apellido" name="apellido" id="apellido" formControlName="apellido"   [ngClass]="submitted && f['apellido'].errors ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'" placeholder="Perez" required="">
        </div>

        <div class="flex items-start flex-col justify-start form-group">
            <label for="usuario" class="text-sm text-gray-700 dark:text-gray-200 mr-2">Usuario:</label>
            <input  type="usuario" name="usuario" id="usuario" formControlName="usuario"   [ngClass]="submitted && f['usuario'].errors ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'" placeholder="juan_perex123" required="">
        </div>

        <div class="flex items-start flex-col justify-start form-group">
            <label for="email" class="text-sm text-gray-700 dark:text-gray-200 mr-2">Email:</label>
            <input  type="email" name="email" id="email" formControlName="email"   [ngClass]="submitted && f['email'].errors ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'" placeholder="name@company.com" required="">
        </div>

        <div class="flex items-start flex-col justify-start form-group">
            <label for="password" class="text-sm text-gray-700 dark:text-gray-200 mr-2">Password:</label>
            <input type="password" name="password" id="password" formControlName="password" [ngClass]="submitted && f['password'].errors ? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'"  placeholder="••••••••"  required="">
        </div>

        

        <button type="submit" class="bg-primary-700 hover:bg-primary-700 text-white font-medium py-2 px-4 rounded-md shadow-sm">Register</button>
    

    <div class="mt-4 text-center">
        <span class="text-sm text-gray-500 dark:text-gray-300">Already have an account? </span>
        <a href="/register" class="text-blue-500 hover:text-primary-700">Login</a>
    </div>
</form>
</div>
