<div >
  <app-nav-simple ></app-nav-simple>
  <div class="flex flex-nowrap">

    <div class="w-full">
      <header class="py-4 bg-primary-700 ">
        <h1 class="text-3xl font-bold text-white m-2">Generic Company</h1>
        
        <img src="../../assets/office-building.png" alt="Descripción de la imagen" class="w-[100px]">
        <nav class="mt-4 m-2 self-end">
          <ul class=" flex space-x-4 justify-end">
            
            <li><a href="#" class="btn inline-block relative uppercase text-black font-semibold bg-white rounded-full py-4 px-10 transition duration-200 ease-in-out hover:translate-y-[-3px] hover:shadow-md active:translate-y-[-1px] active:shadow-sm">
              Inicio
            </a>
          </li>
          <li><a href="#" class="btn inline-block relative uppercase text-black font-semibold bg-white rounded-full py-4 px-10 transition duration-200 ease-in-out hover:translate-y-[-3px] hover:shadow-md active:translate-y-[-1px] active:shadow-sm">
            Servicios
          </a>
        </li>
        <li><a href="#" class="btn inline-block relative uppercase text-black font-semibold bg-white rounded-full py-4 px-10 transition duration-200 ease-in-out hover:translate-y-[-3px] hover:shadow-md active:translate-y-[-1px] active:shadow-sm">
          Contacto
        </a>
      </li>
      
      
    </ul>
  </nav>
</header>

<!-- Contenido principal -->
<main class="m-2">
  <!-- Sección de información de la empresa -->
  <section id="informacion" class="py-8">
    <h2 class="text-2xl font-bold">Información de la Empresa</h2>
    <p class="mt-4">Descripción de la empresa...</p>
    <p>Dirección: Dirección de la empresa</p>
    <p>Teléfono: Número de teléfono</p>
    <p>Correo electrónico: Correo electrónico</p>
    <!-- Agrega más información según sea necesario -->
  </section>
  
  <!-- Sección de servicios ofrecidos -->
  <section id="servicios" class="py-8">
    <h2 class="text-2xl font-bold">Servicios Ofrecidos</h2>
    <ul class="list-disc list-inside mt-4">
      <li>Servicio 1</li>
      <li>Servicio 2</li>
      <li>Servicio 3</li>
      <!-- Agrega más servicios -->
    </ul>
  </section>
  
  <!-- Sección de comentarios o reseñas -->
  <section id="comentarios" class="py-8">
    <h2 class="text-2xl font-bold">Comentarios y Reseñas</h2>
    <div class="mt-4">
      <div class="bg-gray-100 p-4 rounded-md mb-4">
        <p class="font-bold">Usuario 1:</p>
        <p>Comentario del usuario 1...</p>
      </div>
      <div class="bg-gray-100 p-4 rounded-md">
        <p class="font-bold">Usuario 2:</p>
        <p>Comentario del usuario 2...</p>
      </div>
      <!-- Agrega más comentarios o reseñas -->
    </div>
  </section>
</main>
</div>
<app-sidebar ></app-sidebar>
</div>

<!-- Pie de página -->
<footer class="py-4 border-t border-gray-200 mt-8">
  <p class="text-sm text-gray-600">&copy; 2024 Nombre de la Empresa. Todos los derechos reservados.</p>
</footer>
</div>
