<div class="mx-14 mt-10 border-2 border-primary-400 rounded-lg">
    <div class="mt-10 text-center font-bold">Crear Contrato</div>
    <div class="mt-3 text-center text-4xl font-bold">Rellena lo que se pide</div>
    <form class="space-y-4 md:space-y-6" action="#"(ngSubmit)="onSubmit()">
    <div class="p-8">
      <div class="flex gap-4">
        <input type="Name" name="name"  [(ngModel)]="datos.titulo"class="mt-1 block w-1/2 rounded-md border border-slate-300 bg-white px-3 py-4 placeholder-slate-400 shadow-sm placeholder:font-semibold placeholder:text-gray-500 focus:border-primary-500 focus:outline-none focus:ring-1 focus:ring-primary-500 sm:text-sm" placeholder="Titulo del trabajo" />
        <input type="ubicacion" name="ubicacion"  [(ngModel)]="datos.ubicacion"class="mt-1 block w-1/2 rounded-md border border-slate-300 bg-white px-3 py-4 placeholder-slate-400 shadow-sm placeholder:font-semibold placeholder:text-gray-500 focus:border-primary-500 focus:outline-none focus:ring-1 focus:ring-primary-500 sm:text-sm" placeholder="Ubicacion" />
      </div>
      <div class="my-6 flex gap-4">
        <select  name="Oficio" [(ngModel)]="datos.rubro" id="select" class="block w-1/2 rounded-md border border-slate-300 bg-white px-3 py-4 font-semibold text-black shadow-sm focus:border-primary-500 focus:outline-none focus:ring-1 focus:ring-primary-500 sm:text-sm">
          <option  class="font-semibold text-slate-300">Selecciona un oficio</option>
          <option value="Albañil">albañil</option>
          <option value="Plomero">Plomero</option>
          <option value="Electricista">Electricista</option>
          <option value="Carpintero">Carpintero</option>
        </select>
        <select  name="pago" [(ngModel)]="datos.pago"id="select" class="block w-1/2 rounded-md border border-slate-300 bg-white px-3 py-4 font-semibold text-black shadow-sm focus:border-primary-500 focus:outline-none focus:ring-1 focus:ring-primary-500 sm:text-sm">
          <option  class="font-semibold text-slate-300"></option>
          <option value="10 ">10lps la hora</option>
    <option value="20">20 lps la hora</option>
    <option value="30">30 lps la hora</option>
    <option value="40">40 lps la hora</option>
    <option value="50">50 lps la hora</option>
    <option value="60">60 lps la hora</option>
    <option value="70">70 lps la hora</option>
    <option value="80">80 lps la hora</option>
        </select>
      </div>
      <div class="">
        <textarea name="Descripcion" id="text" cols="30" rows="10" class="mb-10 h-40 w-full resize-none rounded-md border border-slate-300 p-5 font-semibold text-black">Descripcion del trabajo</textarea>
      </div>
      <div class="w-full rounded-lg bg-primary-500 mt-4 text-white text-lg font-semibold">
        <button type="submit" class="w-full p-4">Crear</button>
    </div>
    </div>
</form>
  </div>
